.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: white;
    top: 55px;
    width: 72px;
    z-index: 200;
    padding-top: 5px;
}
.sidebar-link{
    display: flex;
    height: 96px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar-link:hover{
    background-color: rgb(238, 235, 235);
}
.sidebar-link img{
    height: 27px;
    margin-bottom: 4px;
}
.sidebar-link div{
    font-family: Roboto,Arial;
    font-size: 10px;
}
@media (min-width:1200px) {
    .sidebar{
        
        width: 140px;
    }
    .sidebar-link{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 60px;
        margin-left: 15px;
    }
    .sidebar-link div{
        width: 90px;
    }
    body{
        padding-right: 20px;
        padding-left: 160px;
    }

   
}